DB_NAME=renda_com_carro
DB_USER=renda
DB_PASSWORD=SUBSTITUA_POR_UMA_SENHA_LONGA_E_UNICA
APP_ADMIN_USERNAME=harrison
APP_ADMIN_PASSWORD=SUBSTITUA_POR_UMA_SENHA_COM_PELO_MENOS_16_CARACTERES
APP_PORT=8080
APP_VERSION=local
DATA_ROOT=./var
RESTORE_ROOT=./var/restore-test
RCLONE_CONFIG_DIR=./var/rclone
RESTIC_LOCAL_ROOT=./var/restic-local
TZ=America/Sao_Paulo
