<aside class="app-sidebar bg-dark text-white p-3" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
  <div class="mb-4">
    <div class="fw-bold">Renda com Carro</div>
    <div class="small text-white-50">Painel operacional</div>
  </div>
  <nav class="nav nav-pills flex-column gap-1">
    <a class="nav-link text-white active" th:href="@{/}">Dashboard</a>
    <a class="nav-link text-white" href="#">Dias de operação</a>
    <a class="nav-link text-white" href="#">Turnos</a>
    <a class="nav-link text-white" href="#">Veículos</a>
    <a class="nav-link text-white" href="#">Gastos</a>
    <a class="nav-link text-white" href="#">Abastecimentos</a>
    <a class="nav-link text-white" href="#">Metas</a>
    <a class="nav-link text-white" href="#">Obrigações</a>
  </nav>
</aside>
